<img src="/badges/ipv6.gif" alt="IPv6" class="badge">
<img src="/badges/gnu-linux.gif" alt="Made on GNU/Linux" class="badge">
<img src="/badges/valid-html20.gif" alt="Valid HTML 2.0" class="badge">
<img src="/badges/vcss.gif" alt="Valid CSS 1.0" class="badge">
<img src="/badges/valid-rss.gif" alt="Valid RSS" class="badge">
<img src="/badges/httpismall.gif" alt="HTTP" class="badge">
<img src="/badges/linux_powered.gif" alt="Linux powered" class="badge">
<img src="/badges/rainbow_bev.gif" alt="Rainbow flag" class="badge">
<img src="/badges/gaybears.gif" alt="Gay bears" class="badge">
<img src="/badges/tyg.gif" alt="Trans your gender" class="badge">
<img src="/badges/grapheneos.gif" alt="GrapheneOS" class="badge">
<img src="/badges/ieshit.gif" alt="Internet Explorer is shit" class="badge">
<img src="/badges/gimp.gif" alt="Graphics by GIMP" class="badge">
<img src="/badges/pikvm.gif" alt="Pi-KVM" class="badge">
<img src="/badges/ffmpeg.gif" alt="FFmpeg" class="badge">
<img src="/badges/acab.gif" alt="fuck the cops" class="badge">
<img src="/badges/learn_html.gif" alt="Learn HTML" class="badge">