<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block title %}{{ title }}{% endblock %}">
    <meta property="og:type" content="object">
    <meta property="og:image" content="{% block image %}/preview.png{% endblock %}">
    <!-- empty description when not set -->
    <meta property="og:description" content="{% block description %}{% endblock %}">
    <meta property="og:site_name" content="Lena's blog :3">
    <!-- this just makes the image preview big -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- this makes the Atom and RSS feeds recognizable by web browsers and extensions and stuff -->
    <link rel="alternate" type="application/atom+xml" title="Lena's blog :3 (Atom)" href="/blog/atom.xml">
    <link rel="alternate" type="application/rss+xml" title="Lena's blog :3 (RSS)" href="/blog/rss.xml">

    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
    <!--[if IE]>
      <style>
        img {
          width: 70%;
          height: auto;
        }
      </style>
    <![endif]-->
  </head>
  <body style="color: #e7e6e3;background: #181a1b">
    <!-- this is here just because old browsers dont support headers or footers-->
    <div class="site-header">
    <header class="site-header"> 
      <h1>Lena's <sub role="presentation">{% block page_name %}home{% endblock %}</sub></h1>
      <nav>
        <span><a href="/">home</a></span>
            <span aria-hidden="true">|</span>
        <span><a href="/blog" class="active">blog</a></span>
            <span aria-hidden="true">|</span>
        <span><a href="/links">links</a></span>
        <span aria-hidden="true">|</span>
        <span><a href="/blog/atom.xml">atom feed</a></span>
        <span aria-hidden="true">|</span>
        <span><a href="/blog/rss.xml">rss feed</a></span>
      </nav>
    </header>
  </div>
    <div class="separator-top"></div>
    <!-- this makes the layout work without CSS. CSS will remove all line breaks anyway. -->
    <br>
    <br>
    
    <div id="content" role="main">
      {% block content %}<p>Placeholder content</p>{% endblock %}
    </div>

    <div class="separator-bottom"></div>
    <!-- this is here just because old browsers dont support headers or footers-->
    <div class="site-footer">
    <footer class="site-footer">
      <div>
        <span><a href="/blog/atom.xml">atom feed</a></span>
            <span aria-hidden="true">|</span>        
        <span><a href="/blog/rss.xml">rss feed</a></span>
            <span aria-hidden="true">|</span>
        <span><a href="https://github.com/adryzz" rel="noreferrer" target="_blank">github</a></span>
            <span aria-hidden="true">|</span>
       <span><a rel="me" href="https://social.treehouse.systems/@lena">fedi</a></span>
            <span aria-hidden="true">|</span>
        <span><a rel="me" href="https://social.nihil.gay/lena">fedi (gayer)</a></span>
      </div>
      <!-- this makes the layout work without CSS. CSS will remove all line breaks anyway. -->
      <br>
      <br>
      <div class="badges margin-big">
        {% include "badges.html" %}
      </div>
    </footer>
  </div>
  </body>
</html>
