{% extends "base.html" %}

{% block title %}gay seggs{% endblock %}

{% block content %}
    <p>
        Hi, i'm Lena<small><sub>(she/her)</sub></small>.
    </p>
    <p>
        If you were looking for some kind of resource or "about" page, then this is probably it.
    </p>
    <p>
        I love programming, music, drawing, trains, emotional anime, chemistry, physics, math... (the list is quite long)
    </p>
    <p>
        My favorite programming languages (and thus the ones I'm most comfortable with) are Rust and C#, but i can work with just about anything after a bit of practice.
    </p>
    <p>
        My blog is lightweight, uses no JavaScript and is fully backwards compatible, accessible by screen readers and renders properly on "the old internet".
    </p>
    <p>
        It is tested and renders properly on Internet Explorer 5, the Wii and the 3DS browsers, with all the features.
    </p>
    <p>
        You can connect without SSL or TLS, but beware that old browsers have many MANY vulnerabilities, so be careful when using them.
    </p>

{% endblock %}